#sideNav {
    /* height: 100vh; */
    /* align-items: start; */
    text-align: left;
    background-color: var(--white) !important;
}

.sidenav-items {
    text-align: left;
}

#sideNav-logo-heading {
    color: var(--dark-green);
    position: absolute;
    left: -150%;
}

#sideNav-logo {
    width: 3rem;
    height: 3rem;
    position: absolute;
    margin-top: 10%;
    left: 45%;
}

.sidenav-links-div {
    position: relative;
    margin-top: 10rem;
    left: 8%;
}

.sidenav-link {
    width: 150%;
    height: 3.3rem;
    padding-top: 0.77rem;
    color: #A6A6A6;
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

.sidenav-link:hover {
    border-radius: 0.3125rem;
    background: var(--hover-green-light);
    color: var(--dark-green);
}

.sidenav-link.active {
    color: var(--dark-green) !important;
    background-color: var(--hover-green-light);
    font-weight: 600;
    border-radius: 0.3125rem;
}

.nav-icon {
    width: 1.8125rem;
    height: 1.87825rem;
    margin-right: 1rem;
}

@media only screen and (max-width: 767px) { 
    #sideNav-logo {
        margin-top: 5%;
        left: 47%;
    }

    #sideNav-logo-heading {
        left: -110%;
    }

    .sidenav-link {
        width: 70%;
        text-align: center;
    }

    .sidenav-link.active {
        background-color: white !important;
        font-weight: 600;
    }

    .sidenav-links-div {
        width: 60%;
        left: 27%;
    }

    .nav-icon {
        visibility: hidden;
    }
}

@media screen and (min-width: 768px) and (max-width: 1085px) {
    .sidenav-link {
        width: 100%;
    }
}
