.picker {
    justify-content: center;
    display: flex;
}

.dateTime {
    width: 30%;
    height: 20%;
}

.css-1aquho2-MuiTabs-indicator,
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.css-umzx0k-MuiClock-pin,
.css-d0vs79-MuiClockPointer-root,
.css-eg3pzz-MuiClockPointer-thumb,
.MuiClockNumber-root.Mui-selected.css-zddqwy-MuiClockNumber-root,
.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.css-rdq5h4-MuiClockPointer-root
{
    background-color: var(--dark-green) !important;
}

.css-y0fr9s-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: var(--dark-green) !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root,
.css-1hbyad5-MuiTypography-root {
    visibility: hidden;
}

/* .css-1aquho2-MuiTabs-indicator {
    background-color: var(--dark-green) !important;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: var(--dark-green) !important;
}

.css-umzx0k-MuiClock-pin {
    background-color: var(--dark-green) !important;
}

.css-d0vs79-MuiClockPointer-root {
    background-color: var(--dark-green) !important;
}

.css-eg3pzz-MuiClockPointer-thumb {
    background-color: var(--dark-green) !important;
}
 
.MuiClockNumber-root.Mui-selected.css-zddqwy-MuiClockNumber-root {
    background-color: var(--dark-green) !important;
}

.css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: var(--dark-green) !important;
}

.css-1hbyad5-MuiTypography-root {
    visibility: hidden;
} */