.signup-area {
    width: 50% !important;
    height: 42rem;
    height: 100vh !important;
    display: flex;
    background-color: var(--white);
    color: black;
    height: 30rem;
    float: right;
    position: relative;
    z-index: 1;
}

.signup-img {
    margin-left: -2rem;
    width: 40%;
    height: 42rem;
    background-color: var(--dark-green);
    z-index: -1;
    position: absolute;
    float: left;
    overflow-y: hidden;
}

#img-signup {
    padding-left: 5rem;
    padding-top: 8rem;
    width: 85%;
}

#signup-form {
    margin-top: 8rem;
    width: 20rem;
    z-index: 2;
    position: absolute;
    margin-left: 2rem;
}

.signup-heading {
    padding-top: 5rem;
    height: 2rem;
    margin-left: 2rem;
    width: 100rem;
    z-index: 1;
    position: relative;
}

.form-input-name {
    width: 20rem;
    height: 3.25rem;
    flex-shrink: 0;
    border-radius: 0.4375rem;
    border: 1px solid var(--dark-green);  
    position: relative;
    margin-top: 2rem;
    padding: 9% 13%;
}

.form-input-name::placeholder {
    color: rgba(51, 51, 51, 0.42);
    font-weight: 400;
}

#last-name {
    margin-top: -3.65rem;
    margin-left: 22em;
}

.side-label {
    margin-left: 24rem;
    width: 6.0625rem;
    height: 1.4375rem;
    color: var(--dark-green);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 450;
    z-index: 1;
    position: absolute;
    margin-top: -1rem;
    background-color: white;
}

.label-confirmPass {
    margin-left: 24rem;
    width: 10rem;
    height: 1.4375rem;
    color: var(--dark-green);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 450;
    z-index: 1;
    position: absolute;
    margin-top: -1rem;
    background-color: white;
}

.form-input-textbox {
    width: 42rem;
    height: 8rem;
    border-radius: 0.4375rem;
    border: 1px solid var(--dark-green);  
    position: relative;
    margin-top: 2rem;
    padding: 5%;
    padding-top: -3rem !important;
    overflow-wrap: break-word !important;
}

.form-input-textbox::placeholder {
    color: rgba(51, 51, 51, 0.42);
    font-weight: 400;
}

#submit-signup {
    width: 30rem;
    height: 2.75rem;
    border-radius: 1.75rem;
    background-color: var(--dark-green);
    margin-top: 2rem;
    margin-left: 5.5rem;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
}

#submit-signup:hover {
    background-color: var(--light-green);
}

.password-alert {
    height: 1rem;
    color: red;
}

@media only screen and (max-width: 1024px) {
    .signup-img {
        width: 30%;
    }

    #img-signup {
        width: 90%;
        padding-top: 12rem;
    }

    .signup-area {
        margin-left: 17rem;
        float: none;
    }

    .signup-heading {
        width: 50rem;
        font-size: 1.65rem;
    }

    .form-input-name {
        width: 18rem;
        padding: 9% 10%;
    }

    .form-input-textbox {
        width: 40rem;
    }

    .signup-form {
        margin-left: 0rem;
    }
}