.sort-grid {
    width: 60%;
    margin-top: 2rem;
    height: 25rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-auto-rows: 200px;
    padding-left: 2rem;
    padding-top: 0.7rem;
  }

.grid-items {
    width: 70% !important;
    height: 70%;
}

  .dropArea {
    position: relative;
  }
  
  .dropArea::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
  }
  
  @media only screen and (max-width: 769px) {
    .sort-grid {
      height: 40rem;
    }
  }